<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos del circulo infernal</title>
</head>
<body>
    <main class="container">
        <table class="table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Docente</th>
                </tr>
            </thead>
            <%
                if( Array.isArray(cursos)  && cursos.length > 0 ) {
            %>
            <tbody>
                <tr>
                    <%
                        cursos.forEach(function(cursos)) {
                    %>
                    <td><%= cursos.id %></td>
                    <td><%= cursos.nombre || '' %></td> 
                    <td><%= cursos.descripcion || '' %></td>
                    <td><%= cursos.docente || '' %></td>
                    <% }; %>
                </tr>
            </tbody>
            <%} else { %>
                <div> No hay cursos disponibles en este momento, existe un error al cargarlos</div>
                <p><a href="../views/bienvenida.html">Volver a Bienvenida</a></p>
            <% } %>
        </table>
    </main>
</body>
</html>