* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,113,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
}

.content-container {
    width: 90%;
    margin: auto;
    background-color: rgb(22, 103, 99);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.problem-content {
    background-color: rgb(0, 150, 136);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}

.form-container {
    width: 100%;
}

.title-container {
    display: block;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.description {
    display: block;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
}

th {
    color: white;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
    color: white;
}

.entrada, .salida {
    width: 90%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.salida {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.cal-button, .bor-button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 90%;
}

.cal-button {
    background-color: #00796B;
}

.bor-button {
    background-color: #00796B;
}

.cal-button:hover {
    background-color: #004D40;
}

.bor-button:hover {
    background-color: #004D40;
}

hr {
    border: 2px solid white;
    margin: 20px 0;
    width: 80%;
    opacity: 1;
    box-shadow: 0 0 20px 5px white;
    border-radius: 5px;
    background: white;
    height: 2px;
    margin: 0 auto;
}

.regresar {
    margin-top: 20px;
    text-align: center;
}

.regresar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: #00796B;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.regresar a:hover {
    background-color: #004D40;
}
