*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cornflowerblue;
    text-align: center;
}

.container-nav{
    width: 100%;
    background-color: rgb(255, 136, 0);
    padding: 10px;
}

.container-body{
    width: 40%;
    margin: auto;
    background-color: rgb(11, 252, 252);
    padding: 10px;
    display: inline-flex;
}

.container-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(0, 255, 64);
    padding: 10px;
}